# Wheel needs to be installed first so that mysqlclient installs correctly
wheel

flask
python-dotenv
mysqlclient
gunicorn
flask-sqlalchemy
murmurhash3
bcrypt
simplejson
pillow

# Packages for testing
pytest
requests

# Development packages for VS Code
black
pylint