html,
*,
body {
    /* Set some sane defaults */
    margin: 0px;
    padding: 0px;
    font-family: 'Karla', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    color: black;
}

img {
    max-width: 100%;
}

hr {
    margin: 10px auto;
}

h1,
h2,
h3 {
    font-family: 'Work Sans', sans-serif;
}

.vertical-center {
    /* Center any element vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.nudge-up {
    top: 45%;
}

.horizontal-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.main-title {
    /* DOCTRINE title on main page */
    font-size: 4em;
    text-align: center;
}

.subtitle {
    /* Subtitle on main page */
    font-size: 1em;
    text-align: center;
    letter-spacing: 5px;
    margin-top: -10px;
    margin-bottom: 1em;
}

input {
    display: block;
    padding: 4px 6px;
    margin: 6px auto;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    border: 2px solid #666;
    border-radius: 4px;
    /* remove autofill yellow background (Firefox) */
    filter: none;
    /* remove default red error outline (Firefox) */
    box-shadow: none;
}

input.error {
    background-color: #ffc6c6;
}

p.error {
    color: #ff3535;
    font-family: 'Karla', sans-serif;
}

button {
    font-family: 'Karla', sans-serif;
    display: block;
    padding: 2px 6px;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 4px;
    font-size: 1em;
    margin: 6px 6px;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button.center {
    margin: 6px auto;
}

button.danger:hover {
    border-color: #d00000;
    background-color: white;
    color: #d00000;
}

.card {
    /* A container with a rounded black border and some padding */
    border: 3px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    min-width: 280px;
    background-color: white;
}

.card h1 {
    font-size: 2.6em;
}

.card h2 {
    font-size: 1.6em;
}

.card a {
    font-family: 'Karla', sans-serif;
}

.subtle {
    color: #333;
    text-decoration: none;
}

a.subtle {
    font-size: 0.9em;
}

a.subtle:hover {
    background-color: #333;
    color: white;
    text-decoration: none;
}

.plain {
    text-decoration: none;
}

.spacer {
    height: 20px;
}

.center {
    margin: auto;
}

.loader {
    /* Element to replace a clicked button, taking up the same space */
    font-family: 'Karla', sans-serif;
    margin: 6px auto;
    padding: 5px 6px;
    font-size: 1em;
}

div.dashboard-container {
    /* Wraps the entire dashboard, keeps it from touching the edge of the screen */
    max-width: 700px;
    margin: 40px auto;
}

div.dashboard-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

div.profile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: auto;
    margin: 10px 0;
}

div.profile-card,
div.profile-card-create {
    width: 180px;
    min-width: 180px;
    height: 280px;
    border: 2px solid #888;
    border-radius: 4px;
    margin: 16px 8px;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

div.profile-card:hover {
    /* background-color: grey; */
    box-shadow: 0 0 16px #0008;
    border-color: #666;
    transition: ease 0.15s;
}

div.profile-card-create {
    border-style: dashed;
    white-space: nowrap;
    justify-content: center;
}

div.profile-card-create:hover {
    /* background-color: grey; */
    box-shadow: 0 0 16px #0005;
    border-color: #aaa;
    transition: ease 0.15s;
}

.profile-card h1 {
    font-size: 1.2em;
    font-family: 'IBM Plex Mono', monospace;
    max-width: 100%;
    overflow: auto;
}

.profile-card h2 {
    font-size: 1em;
}

canvas.profile-image {
    background-color: navy;
    margin: 20px;
    border: 3px solid #333;
    border-radius: 4px;
}

table.keyvalue td {
    padding: 0 8px;
}

table.keyvalue td:first-child {
    text-align: right;
    font-weight: 500;
}

table.keyvalue td:last-child {
    text-align: left;
    min-width: 30ch;
}

.hidden {
    /* Make an element invisible, but still take up space */
    visibility: hidden;
}

.gone {
    /* Remove an element from the page */
    margin: 0;
    padding: 0;
    border: 0;
    display: none;
}

.cover-page {
    width: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0;
}