<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/doctrine.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/doctrine_api.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profile_image_editor.js') }}"></script>
    <title>Doctrine</title>
</head>

<body>
    <div class="dashboard-container">
        <div class="dashboard-header">
            <h2 class="small-title">ACCOUNT DASHBOARD</h2>
            <h2 class="small-title subtle" style="font-size: 1.1em; text-transform: uppercase;"></h2>
            <button class="danger" onclick="log_out()">LOG OUT</button>
        </div>
        <div class="card">
            <table class="keyvalue center">
                <tr>
                    <td>Email address:</td>
                    <td id="account-email"></td>
                </tr>
                <tr>
                    <td>Created on:</td>
                    <td id="account-created-on"></td>
                </tr>
                <tr>
                    <td>Developer:</td>
                    <td id="account-is-developer"></td>
                </tr>
            </table>
            <hr>
            <h2>SELECT A PROFILE TO CONTINUE</h2>
            <div id="profile-container" class="profile-container">
                <div id="create-profile" class="profile-card-create" onclick="show_create_profile_modal()">
                    <img style="filter: opacity(0.65); width:50%; margin: 20px;" src="{{ url_for( 'static', filename='images/plus_symbol.svg' ) }} "></img>
                    <p class="loader">CREATE PROFILE</button>
                </div>
            </div>
        </div>
    </div>

    <div id="fade-background" class="cover-page gone" style="background-color: white; opacity: 0.8;"></div>
    <div class="vertical-center">
        <div id="create-profile-modal" class="card gone">
            <h1>CREATE NEW PROFILE</h1>
            <form id="create-profile-form">
                <canvas class="profile-image" width="176px" height="176px"></canvas>
                <input id="profile-name" type="text" placeholder="Profile name" style="max-width: 400px;" maxlength="32" size="1"></input>
                <div class="horizontal-center">
                    <button type="submit">CREATE PROFILE</button>
                    <button class="danger" onclick="hide_create_profile_modal()">CANCEL</button>
                </div>
            </form>
        </div>
    </div>

    <div id="toolbox" class="gone">
        <div class="profile-card">
            <canvas class="profile-image" width="112px" height="112px">
            </canvas>
            <h1>Profile_Name</h1>
            <h2>$money</h1>
        </div>
    </div>

    <script>
        get_account_information();

        var form = document.getElementById("create-profile-form");
        form.addEventListener('submit', function(event) {
            var name = document.getElementById("profile-name").value;
            event.preventDefault();
        });
    </script>


</body>