<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/doctrine.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
    <title>Doctrine</title>
</head>

<body>
    <div class="vertical-center">
        <h1 class="main-title">DOCTRINE</h1>
        <h2 class="subtitle">WORK IN PROGRESS MMO</h2>
        <a class="plain" href="/create-account"><button class="center">CREATE ACCOUNT</button></a>
        <a class="plain" href="/login"><button class="center">LOG IN</button></a>
    </div>
</body>