<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/doctrine.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts/doctrine_api.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/create_account_log_in.js') }}"></script>

    <title>Log in to Doctrine</title>
</head>

<body>
    <div class="vertical-center nudge-up">
        <div class="card">
            <a class="plain" href="/">
                <h1>DOCTRINE</h1>
            </a>
            <h2>LOG IN</h2>
            <div class="spacer"></div>
            <form id="log-in-form">
                <p id="error-message" class="error hidden">Error message</p>
                <input id="email" type="email" placeholder="Email address" maxlength="255" size="1" required autofocus>
                <input id="password" type="password" placeholder="Password" size="1" required>
                <button id="submit-button" class="center" type="submit">LOG IN</button>
                <p id="loader" class="loader gone">LOADING...</p>
                <div style="height:10px;"></div>
                <a class="subtle" href="/create-account">[create account instead]</a>
            </form>
        </div>
    </div>

    <script>
        var form = document.getElementById("log-in-form");
        form.addEventListener('submit', function(event) {
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            log_in(email, password);
            event.preventDefault();
        });
    </script>

    <script>
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        email.addEventListener('input', emailUpdate);
        password.addEventListener('input', passwordUpdate);

        window.onhashchange = reset_error_state;

        function emailUpdate(event) {
            reset_error_state();
        }

        function passwordUpdate(event) {
            reset_error_state();
            if (event.target.value.length == 0) {
                event.target.style.letterSpacing = "0px";
            } else {
                event.target.style.letterSpacing = "3px";
            }
        }
    </script>
</body>